<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giveaway</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Giveaways</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Create Giveaway</a>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container pt-3">
      {% with messages=get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category,message in messages %}
                  <div class="alert alert-{{category}}">{{message}}</div>
              {% endfor %}
          {% endif %}
      {% endwith %}
      {% block body %}

      {% endblock %}
  </div>
</body>
</html>
