{% extends 'layout.html' %}
{% block body %}
<h3 class="text center text-muted mb-3"></h3>
<p class="text-right"><a href="{{url_for(add_user)}}" class="btn btn-success">#New Register</a>
<table class="table">
    <tr class="table-dark">
        <th scope="col">ID</th>
        <th scope="col">이름 (Name)</th>
        <th scope="col">나이 (Age)</th>
        <th scope="col">거리</th>
        <th scope="col">도시</th>
        <th scope="col">전화_번호</th>
        <th scope="col">이메일</th>
      </tr>
    </thead>
    <tbody>
        {% for row in datas %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
        <td>{{row.street}}</td>
        <td>{{row.city}}</td>
        <td>{{row.phone}}</td>
        <td>{{row.email}}</td>
        <td><a href="{{url_for('edit_user', id=row.ID)}}" class="btn btn-primary">편집</a></td>
        <td><a href="{{url_for('delete_user', id=row.ID)}}" class="btn btn-danger" onclick="return ('Are you sure you want to delete?')">삭제</a></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
